@import './variable.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--fs);
    font-family: "Nunito", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    background-color: var(--ghost-white);
}

header {
    background-color: var(--primary);
    text-align: center;
    padding: 24px 10px 36px 10px;
    clip-path: ellipse(110% 100% at top);
}

.welcome__text h1 {
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    padding: 24px 15px 16px 15px;
}

.welcome__text h1 span {
    color: var(--secondary);
}

.welcome__text p {
    color: var(--white);
    padding-top: 16px;
}

.welcome__text p span {
    font-weight: 600;
}

.welcome__image {
    padding-top: 24px;
}

main {
    padding: 30px 10px;
}

main nav ul {
    list-style: none;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

main nav ul:-webkit-scrollbar {
    display: none;
}

main nav ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 3px 8px;
    border-radius: 50px;
    text-decoration: none;
    background-color: var(--white);
    color: var(--black);
}

main nav ul li a.active {
    background-color: var(--primary);
}

main nav ul li a span {
    text-wrap: nowrap;
}