.welcome__text h1 {
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    padding: 24px 15px 16px 15px;
}

.welcome__text h1 span {
    color: var(--secondary);
}

.welcome__text p {
    color: var(--white);
    padding-top: 16px;
}

.welcome__text p span {
    font-weight: 600;
}

.welcome__image {
    padding-top: 24px;
}
